# 忽略python的虚拟环境

.venv/
venv/
env/

# 忽略python编译/缓存文件

__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略IDE和编译器配置文件
# Visual Studio Code
.vscode/
# JetBrains (PyCharm, etc.)
.idea/
# Sublime Text
*.sublime-project
*.sublime-workspace

# 忽略操作系统生成的文件
# macOS
.DS_store
# Windows
Thumbs.db

# 忽略敏感信息配置文件
.env
*.env
config.ini

# 忽略日志文件和临时文件
*.log
*.tmp
*.temp

# 忽略测试和覆盖率报告
.pytest_cache/
htmlcov/
.coverage

# 忽略打包和构建的输出目录
dist/
build/
*.egg-info/