/******************************************************************************
 * SafeKey - 全局基础样式 (style.qss)
 ******************************************************************************/

#backgroundPanel {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                                stop:0 #F0E8E6, stop:1 #EAE0E1);
    border-radius: 15px;
}

QStackedWidget {
    background: transparent;
}